.container-fluid {
  max-width: 1440px;
}

.custom-select {
  max-width: 66px;
}
#search-input {
  border: 1px solid #f8f9fa ;
  &::placeholder {
    color: #f8f9fa !important;
  }
}
#map {
  height: 300px;
  border-radius: 20px;
} 
#temperature-today {
  font-size: 10rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid white;
    border-radius: 50%;
    top: 60px;
  }
}
#temperature-today_today {
  width: 200px;
  height: 200px;
}
#tomorrow-temperature,
#tomorrow-nextDay-temperature,
#tomorrow-next-nextDay-temperature {
  font-size: 5rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid white;
    border-radius: 50%;
    top: 30px;
  }
}
.left-part {
  max-width: 690px;
}

.big-icon {
  object-fit: cover;
  width: 180px;
  height: 100px;
}

@media (max-width: 576px) {
  .big-icon {
    width: 145px;
  }
}